// Variables
$red: #b20000;
$red-light: #ca4c49;
$yellow: #f3a500;
$yellow-light: #f6c052;
$blue: #48aae6;
// ===============

// Mixins
@mixin square($color) {
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  background-color: $color;
  color: white;
}

@mixin bgHover($bg) {
  &:hover {
    background-color: $bg;
  }
}
// ===============

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.squaresWrapper {
  position: relative;
}

table {
  border: 2px solid $blue;
}

td {
  @include square($blue);
}

.addRow {
  @include square($yellow);
  @include bgHover($yellow-light);
  position: absolute;
  top: calc(100% + 2px);
  left: 3px;
  transition: background-color 0.25s ease-in-out;
}

.addColumn {
  @include square($yellow);
  @include bgHover($yellow-light);
  position: absolute;
  top: 3px;
  left: calc(100% + 2px);
  transition: background-color 0.25s ease-in-out;
}

.removeColumn,
.removeRow {
  @include square($red);
  @include bgHover($red-light);
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}

.removeColumn {
  bottom: 100%;
  box-shadow: inset 0px -3px 0 -1px white;
}

.removeRow {
  right: 100%;
  box-shadow: inset -3px 0px 0 -1px white;
}

.fullOpacity {
  opacity: 1;
  pointer-events: auto;
}
