// Variables
$red: #b20000;
$red-light: #ca4c49;
$yellow: #f3a500;
$yellow-light: #f6c052;
$blue: #48aae6;
// ===============

// Mixins
@mixin square($color) {
  border-radius: 2px;
  background-color: $color;
  cursor: pointer;
  font-size: 34px;
  font-weight: 900;
  color: white;
}

// ===============

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.squaresWrapper {
  position: relative;
}

.squares {
  // display: grid;
  border: 2px solid lightblue;
  border-radius: 3px;
  padding: 2px;
}

// .square {
// @include square($blue);
// }

td {
  width: 50px;
  height: 50px;
  background-color: $blue;
}

.addRow {
  @include square($yellow);
  position: absolute;
  top: 100%;
  left: 5px;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: $yellow-light;
  }
}

.addColumn {
  @include square($yellow);
  position: absolute;
  top: 5px;
  left: 100%;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: $yellow-light;
  }
}

.removeColumn,
.removeRow {
  @include square($red);
  position: absolute;
  display: block;
  text-align: center;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: $red-light;
  }
}

.removeColumn {
  bottom: 100%;
  right: 4px;
}

.removeRow {
  // top: 57px;
  right: 100%;
}
